<div id="canopsis-main" role="main">
	<div class="navbar navbar-inverse navbar-fixed-top mm-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#">
				{{glyphicon 'tree-deciduous'}}
				{{title}}
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{{menu name="main_menu" selector=':has(.name:val("build")),:has(.name:val("run")),:has(.name:val("report"))'}}
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li>
					<a {{action 'logout'}}>
						{{glyphicon 'off'}}
					</a>
				</li>
			</ul>
		</div>
	</div>
	{{outlet popup}}
	<div>
		<nav id="mmenu" class="tip mm-menu mm-ismenu">
			<div class="mm-panel mmenu-content">
				{{outlet sidebar}}
			</div>
		</nav>
	</div>
	<script type="text/javascript">
		$("#mmenu").mmenu();
	</script>
	<div class="content">
		</div>
		{{outlet}}
	</div>
	{{render userview fixture_uv}}
</div>
