<div class="btn-toolbar canopsis-toolbar" role="toolbar">
	<div class="btn-group">
		{{#each toolitems}}
			<button type="button" class="btn btn-small btn-default" {{action do action}}>
				{{glyphicon icon}}
				{{title}}
			</button>
		{{/each}}
	</div>
	{{input type="text" id="search" placeholder="Search" action="searchItems"}}
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Check</th>
				<th>Edit</th>
				{{#each attr in attributesKeys}}
					<th>
						{{attr.field}}
						<button type="button" class="btn btn-small btn-default" {{action sortBy attr.field "ASC"}}>
							{{glyphicon 'chevron-up'}}
							</button>
						<button type="button" class="btn btn-small btn-default" {{action sortBy attr.field "DESC"}}>
							{{glyphicon 'chevron-down'}}
						</button>
					</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each crecord in controller}}
				<tr>
					<td>{{input type="checkbox" checked=isSelected class="toggle"}}</td>
					<td>
						<button type="button" class="btn btn-small btn-default" {{action 'showEditForm'}}>
							{{glyphicon "edit"}}
						</button>
					</td>
					{{#each attr in crecord.attributes}}
						<td>{{partial attr.renderer}}</td>
					{{/each}}
				</tr>
			{{/each}}
		</tbody>

	</table>
	<button type="button" class="btn btn-small btn-default" {{action prevPage}}>{{glyphicon 'chevron-left'}}</button>
	Page {{currentPage}} / {{totalPages}}
	<button type="button" class="btn btn-small btn-default" {{action nextPage}}>{{glyphicon 'chevron-right'}}</button>
</div>