
<div id="crecordform-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New {{crecord_type}}</h4>
      </div>
      <div class="modal-body">
        <p>
        	{{#each attr in controller.attributes}}
				{{#if attr.model.options.hiddenInForm}}
				{{else}}
					<div>
						<span class="mmenulabel">{{attr.field}}</span>
						{{editor this attr.model.type}}
					</div>
				{{/if}}
			{{/each}}
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action "addRecord"}}>Save changes</button>
      </div>
    </div>
  </div>
</div>